{{> header}}
{{> navbar}}

{{#if message}}
<div class="alert alert-{{message.type}}" role="alert">
  {{message.message}}
</div>
{{/if}}


<h2 class="text-center form-title">Please Check Your Email For Payments<br>The Payments will be checked automatically.<br>Thank you for using our service.</h2>



{{> footer}}
