<nav class="navbar navbar-expand-lg navbar-light align-items-center" style="background-color: #565656;">
  <div class="container-fluid">
    <a class="navbar-brand align-middle mb-4" href="/">
      HOME
    </a>
    
  </div>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto mb-2 mb-lg-0 me-4'>

        {{#if isLogin}}
          <li class='nav-item'>
            <div class='dropdown'>
              <a
                class=''
                href='#'
                role='button'
                id='dropdownMenuLink'
                data-bs-toggle='dropdown'
                aria-expanded='false'
              >
        
               <img
                  src='/public/image/avatar_default.png'
                  alt=''
                  class='img-avatar'
                />
              </a>

              <ul
                class='dropdown-menu dropdown-menu-end'
                aria-labelledby='dropdownMenuLink'
              >
                
                <li><a class='dropdown-item' href='/logout'>
                    <img src='/public/icon/logout.png' alt='' class='me-2' />
                    Logout</a></li>
              </ul>
            </div>

          </li>
        {{else}}
          <li class='nav-item me-2'>
            <a class='btn-login p-2 px-3' href='/login'>Login</a>
          </li>
          <li class='nav-item'>
            <a class='btn-register p-2' href='/register'>Register</a>
          </li>
        {{/if}}

      </ul>
    </div>
</nav>